.directions
    &__title
        text-align: center
        margin-bottom: 55px
    &__items
        display: grid
        grid-template-columns: repeat(auto-fit, minmax( calc(50% - 20px) ,1fr))
        gap: 20px
    &__item
        height: 260px
        color: #fff
        width: 100%
        overflow: hidden
        &:hover .directions__item-box
            transform: translateY(0)
    &__item-box
        padding: 28px 115px 0 20px
        transform: translateY(calc(260px - 80px))
        height: 100%
        background-color: rgba(45, 54, 83, .6 )
        transition: all .3s
    &__item-title
        margin-bottom: 20px
        font-size: 24px
        font-weight: 600
    &__item-descr
        font-size: 17px
        line-height: 140%
        max-width: 480px

@for $i from 1 to 7
    .directions__item:nth-child(#{$i})
        background: url('../images/directions/direction-#{$i}.png') center top/cover no-repeat

.arrow-down
    display: none
