.header
    padding: 30px 0

    display: flex
    justify-content: space-between
    align-items: center

.nav
    &__items
        display: flex
        gap: 20px
    &__link
        font-weight: 600
        font-size: 18px
        line-height: 20px
